<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <!--Add a nav bar here -->

    <!-- Add reviews as cards -->
    <h1> Review Cards</h1>
    {% for review in reviews %}
    {{review.name}}
    {{review.purchase}}
    {{review.review}}
    {{review.id}}
    {{review.purchase_date}}
    {{review.car_make}}
    {{review.car_model}}
    {{review.car_year}}
    {{review.sentiment}}
    {% endfor %}
</body>

</html>