<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <!--Add a nav bar here -->
    <nav class="navbar fixed-bottom navbar-expand-sm navbar-light bg-light">
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'djangoapp:about' %}"> About </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'djangoapp:contact' %}"> Contact Us </a>
            </li>
        </ul>
    </nav>

    <div style="margin-top: 2%; margin-left: 10%;">
        <h1> Reviews for {{dealer.full_name}}</h1>
        {% if user.is_authenticated %}

        <a href="{% url 'djangoapp:add_review' dealer.dealer_id %}">
            <b>Write a car review</b>
        </a>
        {% endif%}
    </div>

    <!-- Add reviews as cards -->
    <div class="card-columns mx-auto" style="width: 80%;">
        {% for review in reviews %}
        <div class="card bg-light mb-3">
            <div class="card-header">
                {% if review.sentiment == "positive" %}
                <img class="card-img-left" style="height: 2rem;" src="{{MEDIA_URL}}/emoji/positive.png">
                {% elif review.sentiment == "neutral" %}
                <img class="card-img-left" style="height: 2rem;" src="{{ MEDIA_URL }}emoji/neutral.png"
                    alt="Neutral Sentiment">
                {% elif review.sentiment == "negative" %}
                <img class="card-img-left" style="height: 2rem;" src="{{ MEDIA_URL }}emoji/negative.png"
                    alt="Negative Sentiment">
                {% endif %}
            </div>

            <div class="card-body">
                {% if review.car_model %}
                <h5 class="card-title">
                    {{review.car_model}},
                    {{review.car_make}}
                    <br />
                    {{review.purchase_date}}
                </h5>
                {% else %}
                <h5 class="card-title">
                    Unknown
                </h5>
                {% endif %}
                <p class="card-text">
                    {{review.review}}
                </p>
            </div>
        </div>
        {% endfor %}
    </div>

</body>

</html>